<div class="row">
  <div class="col-xs-12">
    <h1>User</h1>
    <h4>{{ user.name }}</h4>
    <h4>{{ user.username }}</h4>
  </div>

  <h1>TODO</h1>
  <div class="panel panel-default">  
    <div class="panel-body">  
        <table class="table table-striped table-bordered">  
            <thead>  
                <tr>  
                    <th>Title</th>  
                    <th>Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of todo;" [style.text-decoration]="item.completed ? 'line-through' : 'initial'"> 
                    <td>{{ item.title }}</td>  
                    <td>{{ item.completed }}</td>
                </tr>  
            </tbody>  
        </table>
    </div>  
</div> 
</div>